<template>
    <div
        class="md:bg-white shadow-xl border-2 border-white border-opacity-50 sm:border-0 sm:max-w-md sm:w-full sm:mx-auto sm:rounded-lg sm:overflow-hidden"
    >
        <div class="px-4 py-8 sm:px-10">
            <div class="mt-6 space-y-3">
                <p
                    class="text-base leading-5 font-medium text-white md:text-gray-500"
                >{{t.description}}</p>

                <transition
                    enter-active-class="transition ease-out duration-500 transform"
                    enter-class="opacity-0 scale-90"
                    enter-to-class="opacity-100 scale-100"
                    leave-active-class="transition ease-in duration-100 transform"
                    leave-class="opacity-100 scale-100"
                    leave-to-class="opacity-0 scale-90"
                >
                    <div class="rounded-md bg-green-50 p-4" v-if="isSavedSuccessfully">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                <svg
                                    class="h-5 w-5 text-green-400"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"
                                    />
                                </svg>
                            </div>
                            <div class="ltr:ml-3 rtl:mr-3">
                                <p
                                    class="text-sm leading-5 font-medium text-green-800"
                                >{{ t.form.registered_successfully }}</p>
                            </div>
                            <div class="ltr:ml-auto rtl:mr-auto ltr:pl-3 rtl:pr-3">
                                <div class="-mx-1.5 -my-1.5">
                                    <button
                                        @click.prevent="isSavedSuccessfully = false"
                                        class="inline-flex rounded-md p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:bg-green-100 transition ease-in-out duration-150"
                                        aria-label="Dismiss"
                                    >
                                        <svg
                                            class="h-5 w-5"
                                            viewBox="0 0 20 20"
                                            fill="currentColor"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                                clip-rule="evenodd"
                                            />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>

                <ValidationObserver tag="div" ref="form">
                    <form action="#" method="POST" class="space-y-4">
                        <div class="flex">
                            <Input
                                labelColor="text-white md:text-gray-500"
                                class="flex-1 ltr:pr-2 rtl:pl-2"
                                v-model="form.first_name"
                                id="first_name"
                                :label="t.form.first_name"
                            />

                            <Input
                                labelColor="text-white md:text-gray-500"
                                class="flex-1"
                                v-model="form.last_name"
                                id="last_name"
                                :label="t.form.last_name"
                            />
                        </div>

                        <div class="flex ltr:flex-row rtl:flex-row-reverse">
                            <div class="flex-shrink-0 flex-auto pr-2">
                                <label :class="labelClass">{{t.form.country_code}}</label>
                                <v-select
                                    v-model="form.phone_country_iso2"
                                    dir="ltr"
                                    label="code"
                                    id="country_code"
                                    :options="countryCodes"
                                    :reduce="country => country.id"
                                >
                                    <template slot="option" slot-scope="option">
                                        <div class="flex">
                                            <div class="ltr:pr-2 rtl:pl-2">{{ option.flag }}</div>
                                            <div>{{ option.code }}</div>
                                        </div>
                                    </template>
                                </v-select>
                            </div>

                            <Input
                                labelColor="text-white md:text-gray-500"
                                class="flex-auto"
                                v-model="form.phone_number"
                                id="phone_number"
                                :label="t.form.phone_number"
                            />
                        </div>

                        <div>
                            <label :class="labelClass">{{t.form.nationality}}</label>
                            <v-select
                                :dir="isRtl ? 'rtl' : 'ltr'"
                                label="name"
                                :options="countries"
                                v-model="form.nationality_id"
                                :reduce="country => country.id"
                            ></v-select>
                        </div>

                        <div class="flex items-center">
                            <input
                                labelColor="text-white md:text-gray-500"
                                id="is_living_in_ksa"
                                type="checkbox"
                                v-model="form.is_living_in_ksa"
                                class="form-checkbox h-4 w-4 text-primary transition duration-150 ease-in-out"
                            />
                            <label
                                for="is_living_in_ksa"
                                class="ltr:ml-2 rtl:mr-2 block text-sm leading-5 text-white md:text-gray-500"
                            >{{ t.form.is_living_in_ksa }}</label>
                        </div>

                        <div>
                            <Input
                                labelColor="text-white md:text-gray-500"
                                v-model="form.email"
                                id="email"
                                :label="t.form.email"
                            />
                        </div>

                        <div class="space-y-3 md:flex md:space-y-0">
                            <Input
                                labelColor="text-white md:text-gray-500"
                                class="md:flex-1 md:ltr:pr-2 md:rtl:pl-2"
                                v-model="form.password"
                                id="password"
                                :label="t.form.password"
                                type="password"
                            />

                            <Input
                                labelColor="text-white md:text-gray-500"
                                class="md:flex-1"
                                v-model="form.password_confirmation"
                                id="confirm_password"
                                :label="t.form.confirm_password"
                                type="password"
                            />
                        </div>

                        <div>
                            <span class="block w-full rounded-md shadow-sm">
                                <button
                                    :disabled="isSaving"
                                    @click.prevent="onRegister"
                                    class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-primary-inv bg-primary disabled:cursor-not-allowed disabled:bg-gray-300 hover:bg-primary-600 transition duration-150 ease-in-out"
                                >
                                    <div v-if="!isSaving">{{ t.form.register }}</div>
                                    <Spinner v-else />
                                </button>
                            </span>
                        </div>
                    </form>
                </ValidationObserver>
            </div>
        </div>
    </div>
</template>

<script>
import '../../css/vue-select.css'
import Spinner from './utils/Spinner'

const defaultValues = {
    first_name: '',
    last_name: '',
    phone_number: '',
    phone_country_iso2: 'SA',
    nationality_id: '',
    email: '',
    password: '',
    password_confirmation: '',
    is_living_in_ksa: true,
}

export default {
    components: {
        Spinner,
    },
    props: ['t', 'countries', 'countryCodes'],
    data: function () {
        return {
            form: { ...defaultValues },
            isSaving: false,
            isSavedSuccessfully: false,
            currentTimerId: null,
            labelClass:
                'block text-sm leading-5 text-white md:text-gray-500 mb-0.5',
        }
    },
    computed: {
        isRtl: () => {
            return document.documentElement.dir === 'rtl'
        },
    },
    mounted() {
        if (this.countries[0]) {
            this.form.nationality_id = this.countries[0].id
        }
    },
    methods: {
        onRegister: function () {
            window.clearTimeout(this.currentTimerId)
            this.isSaving = true
            this.isSavedSuccessfully = false
            axios
                .post('/register', this.form)
                .then((response) => {
                    this.isSavedSuccessfully = true
                    this.currentTimerId = window.setTimeout(
                        function () {
                            this.isSavedSuccessfully = false
                        }.bind(this),
                        5000
                    )
                    this.form = { ...defaultValues }
                })
                .catch((error) => {
                    if (error.response && error.response.status === 422) {
                        this.$refs.form.setErrors(error.response.data.errors)
                    }
                })
                .finally(() => {
                    this.isSaving = false
                })
        },
    },
}
</script>
