<template>
    <span class="inline-flex rounded-md shadow-sm">
        <button
            :disabled="inProgress"
            @click.prevent="$emit('press', toggleLoading, $event)"
            type="button"
            :class="`${selectedColor} ${disabledStyles} inline-flex items-center h-10 px-4 py-2 text-base leading-6 font-medium rounded-md focus:outline-none transition ease-in-out duration-150`"
        >
            <slot v-if="!inProgress"></slot>
            <scale-loader color="white" height="20px" width="4px" class="-mb-2" v-else />
        </button>
    </span>
</template>

<script>
export default {
    props: {
        color: {
            type: String,
            default: 'default',
        },
    },
    data: function () {
        return {
            colors: {
                default:
                    'border border-gray-300 text-gray-700 bg-white hover:text-gray-500 focus:border-blue-300 active:text-gray-800 active:bg-gray-50 focus:shadow-outline-blue',
                primary:
                    'border border-gray-300 text-white bg-primary-600 hover:bg-primary-500 focus:border-primary-700 focus:shadow-outline-primary active:bg-primary-700',
            },
            inProgress: false
        };
    },
    computed: {
        selectedColor: function () {
            return this.colors[this.color];
        },
        disabledStyles: function () {
            if (this.inProgress) {
                return 'disabled:bg-gray-400 disabled:text-gray-700 disabled:cursor-not-allowed';
            }
            return '';
        }
    },
    methods: {
        toggleLoading: function (isInProgress) {
            this.inProgress = isInProgress;
        },
    },
};
</script>