@tailwind base;

@font-face {
    font-family: 'TheSansArabic SemiLight';
    src: url('/fonts/TheSansArabic-SemiLight.woff2') format('woff2'),
        url('/fonts/TheSansArabic-SemiLight.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TheSansArabic';
    src: url('/fonts/TheSansArabic-Black.woff2') format('woff2'),
        url('/fonts/TheSansArabic-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@tailwind components;

@tailwind utilities;

.bv-hidden {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

@variants group-hover {
    .rotate-y-180 {
        transform: rotateY(180deg);
    }
}
