@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'HelveticaNeueLT';
        src: url('/fonts/HelveticaNeueLTArabic-Roman.woff2') format('woff2'),
            url('/fonts/HelveticaNeueLTArabic-Roman.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'HelveticaNeueLT';
        src: url('/fonts/HelveticaNeueLTArabic-Bold.woff2') format('woff2'),
            url('/fonts/HelveticaNeueLTArabic-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Alata';
        src: url('/fonts/Alata-Regular.woff2') format('woff2'),
            url('/fonts/Alata-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    [dir='rtl'] body {
        font-family: 'HelveticaNeueLT';
    }

    [dir='ltr'] body {
        font-family: 'Alata';
    }

    .bv-hidden {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}

@layer utilities {
    @variants group-hover {
        .rotate-y-180 {
            transform: rotateY(180deg);
        }
    }

    @variants direction {
        .\-scale-x-100 {
            --transform-scale-x: -1;
        }
    }
}

@layer components {
    .text-huge {
        @apply text-2xl font-bold;
    }
    @media screen(md) {
        .text-huge {
            @apply text-4xl;
        }
    }

    .text-big {
        @apply text-lg font-bold;
    }
    @media screen(md) {
        .text-big {
            @apply text-2xl;
        }
    }
}

p[style*="text-align:center"] > img {
    margin-right: auto;
    margin-left: auto;
}
