<template>
    <div class="space-y-6">
        <page-heading :title="title">
            <c-button color="primary" @press="onCreatePress">{{$t('create')}}</c-button>
        </page-heading>

        <resource-table :cols="cols" :url="url" :rowsPerPage="rowsPerPage"></resource-table>
    </div>
</template>

<script>
import { ResourceProps } from './ResourceTable';
import { PageHeadingProps } from '../PageHeading';

export default {
    props: {
        ...ResourceProps,
        ...PageHeadingProps,
        createPath: {
            type: String,
            default: null
        },
    },
    mounted() {
    },
    methods: {
        onCreatePress: function (toggleLoading) {
            this.$router.push(this.createPath ? this.createPath : `${this.$route.path}/create`);
        },
    },
};
</script>

<i18n>
{
    "en": {
        "create": "Create"
    },
    "ar": {
        
    }
}
</i18n>