<template>
    <card>
        <template #header>
            <div v-if="isUpdate">
                <h3 class="text-sm">{{$t('update')}}: {{heading}}</h3>
                <h2 class="text-base md:text-xl">{{_resourceName}}</h2>
            </div>
            <div v-else>
                <h3 class="text-sm">{{$t('create')}}</h3>
                <h2 class="text-base md:text-xl">{{heading}}</h2>
            </div>
        </template>

        <slot></slot>

        <template #footer>
            <div class="flex justify-end">
                <c-button class="ltr:mr-2 rtl:ml-2">{{ $t('back') }}</c-button>
                <c-button color="primary">{{ $t('save') }}</c-button>
            </div>
        </template>
    </card>
</template>

<script>
export default {
    props: {
        apiCreate: [Function, String],
        apiUpdate: Function,
        resourceName: Function,
        heading: String,
        data: Object
    },
    data: function () {
        return {
            resource: null,
        };
    },
    computed: {
        isUpdate: function () {
            return !!Object.keys(this.$route.params).length;
        },
        _resourceName: function () {
            return this.resource ? this.resourceName(this.resource) : '';
        },
    },
};
</script>

<i18n>
{
    "en": {
        "save": "Save",
        "back": "Back",
        "update": "Update",
        "create": "Create"
    },
    "ar": {
        
    }
}
</i18n>