<template>
    <grid :cols="cols" v-bind="tableConfig" :auto-width="false"></grid>
</template>

<script>
import Grid from 'gridjs-vue';

export const ResourceProps = {
        cols: Array,
        url: String,
        rowsPerPage: {
            type: Number,
            default: 15
        },
    };

export default {
    components: {
        Grid,
    },
    props: ResourceProps,
    beforeMount() {
        this.pagination.limit = this.rowsPerPage || 15;
    },
    data: function () {
        return {
            columnDefs: null,
            server: {
                url: this.url,
                data: (options) =>
                    axios.get(options.url).then((response) => {
                        return {
                            total: response.data.meta.total,
                            data: response.data.data,
                        };
                    }),
            },
            pagination: {
                enabled: true,
                page: 0,
                summary: false,
                limit: null,
                server: {
                    url: (prev, page) => `${prev}?page=${page + 1}`,
                },
            },
        };
    },
    computed: {
        tableConfig: function () {
            return {
                server: this.server,
                cols: this.cols,
                pagination: this.pagination,
            };
        },
    },
};
</script>

<i18n>
{
    "en": {

    },
    "ar": {
        
    }
}
</i18n>