.nav_logo{
    padding-top: 0px;
    text-align: center;
    margin-bottom:20px;
    img{
        width: 150px;
        margin:auto;
        margin-bottom:20px;
    }
    span{
        display:block;
    }
}
.prs-10{
    padding:0 10px;
}
.item_fei{
    margin-bottom: 20px;
    background: #F6F6F6;
    height: 50px;
    display: flex;
    align-items: center;
    flex: 1;
    padding:0 10px;
    border-radius:4px;
    // margin:15px
    position: relative;
    &.active{
            &::after{
                content:" ";
                width: 20px;
                height: 20px;
                background-image: url(../../img/active.svg);
                background-repeat: no-repeat;
                background-size: contain;
                position:absolute;
                left: 10px;
                
            }
    }
    &>span{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 22px;
            height: 22px;
        }
    }
}
.name_t{
    margin-bottom: 10px;
    h6{
        font-size: 14px;
    }
}

.item-2{
align-items:start;
div{
    flex: 1;
}
}


footer{
    border-bottom: 4px solid #0565FF;
    padding-bottom: 10px;
    
    h6{
        text-align: center;
        margin-bottom:10px;
    }
}