// @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
// start var

// @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap');
// end var 
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-lt-std-55');



* {
    margin: 0;
    padding: 0;   
  font-family: 'Helvetica Neue LT Std', sans-serif;
    
}





p {
    margin: 0;

}

ul {
    list-style: none;
}

ol,
ul,
h1,
h2,
h3,
h5,
h4,
h6 {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none !important;
    color: inherit;
}
.container {
    // max-width: 1560px;
    // width: 88%;
}
body{
  font-family: 'Helvetica Neue LT Std', sans-serif !important;
  // font-family: 'Cairo', sans-serif;
  
    
}
html{
    scroll-behavior: smooth;
}
// start header



/* end scroll-top */
// scroll top 

 /* width */
::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0DCCA7; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  @keyframes mymove1 {
    0% {transform: translateY(0px);}
    50% {transform: translateY(40px);}
    100% {transform: translateY(0px);}
  }

