<template>
    <div>
        <div class="h-screen flex overflow-hidden bg-gray-100">
            <off-canvas />

            <nav-links v-slot="links">
                <sidebar :links="links" />
            </nav-links>
            <div class="flex flex-col w-0 flex-1 overflow-hidden">
                <top-bar />

                <main class="flex-1 relative overflow-y-auto focus:outline-none" tabindex="0">
                    <div class="pt-2 pb-6 md:py-6">
                        <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
                            <router-view></router-view>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</template>

<script>
import OffCanvas from './OffCanvas';
import Sidebar from './Sidebar';
import TopBar from './TopBar';
import NavLinks from './NavLinks';

export default {
    components: {
        OffCanvas,
        Sidebar,
        TopBar,
        NavLinks
    }
};
</script>

<i18n>
{
    "en": {

    },
    "ar": {

    }
}
</i18n>