<script>
export default {
    render() {
        return this.$scopedSlots.default([
            {
                section: this.$t('dashboard'),
                icon: 'grip-vertical',
                routeName: 'property-types.index'
            },
            {
                section: this.$t('misc'),
                icon: 'map-signs',
                children: [
                    {
                        title: this.$t('property_types'),
                        routeName: 'property-types.index'
                    }
                ]
            },
        ]);
    },
};
</script>

<i18n>
{
    "en": {
        "dashboard": "Dashboard",
        "misc": "Miscellaneous",
        "property_types": "Property Types"
    },
    "ar": {
        
    }
}
</i18n>