<template functional>
    <div class="hidden md:flex md:flex-shrink-0">
        <div class="flex flex-col w-64">
            <!-- Sidebar component, swap this element with another sidebar if you like -->
            <div
                class="flex flex-col flex-grow border-r border-gray-200 pt-5 pb-4 bg-white overflow-y-auto"
            >
                <div class="flex items-center flex-shrink-0 px-4">
                    <img
                        class="h-8 w-auto"
                        src="https://tailwindui.com/img/logos/workflow-logo-on-white.svg"
                        alt="Workflow"
                    />
                </div>
                <div class="mt-5 flex-grow flex flex-col">
                    <nav class="flex-1 px-2 bg-white">
                        <template v-for="(link, key) in props.links">
                            <div
                                v-if="!(Array.isArray(link.children) && link.children.length)"
                                :key="key"
                            >
                                <router-link
                                    :to="{name: link.routeName}"
                                    class="group w-full flex items-center pl-2 py-2 text-sm leading-5 font-medium text-gray-900 rounded-md bg-gray-100 focus:outline-none focus:bg-gray-200 transition ease-in-out duration-150"
                                >
                                    <font-awesome-icon
                                        class="mr-3 h-6 w-6 text-gray-600 transition ease-in-out duration-150"
                                        :icon="link.icon"
                                    ></font-awesome-icon>
                                    {{ link.section }}
                                </router-link>
                            </div>
                            <div v-else :key="key">
                                <button
                                    class="mt-1 group w-full flex items-center pl-2 pr-1 py-2 text-sm leading-5 font-medium rounded-md bg-white text-gray-600 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition ease-in-out duration-150"
                                >
                                    <font-awesome-icon
                                        class="mr-3 h-6 w-6 text-gray-600 transition ease-in-out duration-150"
                                        :icon="link.icon"
                                    ></font-awesome-icon>
                                    {{ link.section }}
                                    <!-- Expanded: "text-gray-400 rotate-90", Collapsed: "text-gray-300" -->
                                    <svg
                                        class="ml-auto h-5 w-5 transform group-hover:text-gray-400 group-focus:text-gray-400 transition-colors ease-in-out duration-150"
                                        viewBox="0 0 20 20"
                                    >
                                        <path d="M6 6L14 10L6 14V6Z" fill="currentColor" />
                                    </svg>
                                </button>
                                <!-- Expandable link section, show/hide based on state. -->
                                <div class="mt-1 space-y-1">
                                    <router-link
                                        v-for="(childLink, key) in link.children"
                                        :key="key"
                                        :to="{name: childLink.routeName}"
                                        class="group w-full flex items-center pl-11 pr-2 py-2 text-sm leading-5 font-medium text-gray-600 rounded-md hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition ease-in-out duration-150"
                                    >{{ childLink.title }}</router-link>
                                </div>
                            </div>
                        </template>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>