<template>
    <ValidationProvider tag="div" :vid="id" v-slot="v">
        <div>
            <label :for="id" :class="labelClass">{{ label }}</label>
            <div class="rounded-md shadow-sm">
                <input
                    :dir="dir"
                    :value="value"
                    @input="$emit('input', $event.target.value)"
                    :id="id"
                    :placeholder="placeholder || label"
                    :class="inputClass"
                    :type="type || 'text'"
                />
            </div>
            <ErrorMessage>{{ v.errors[0] }}</ErrorMessage>
        </div>
    </ValidationProvider>
</template>

<script>
import ErrorMessage from './ErrorMessage'

export default {
    components: {
        ErrorMessage,
    },
    props: [
        'id',
        'placeholder',
        'label',
        'value',
        'type',
        'dir',
    ],
    data: function () {
        return {
            inputClass:
                'appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out text-sm leading-5',
            labelClass: 'block text-sm leading-5 mb-0.5',
        }
    },
}
</script>
