<template>
    <ValidationProvider tag="div" :vid="id" v-slot="v">
        <div>
            <label :for="id" :class="_labelClass">{{ label }}</label>
            <div class="rounded-md shadow-sm">
                <textarea
                    :dir="dir"
                    :value="value"
                    @input="$emit('input', $event.target.value)"
                    :id="id"
                    :placeholder="placeholder || label"
                    :class="inputClass"
                    :rows="rows"
                ></textarea>
            </div>
            <ErrorMessage>{{ v.errors[0] }}</ErrorMessage>
        </div>
    </ValidationProvider>
</template>

<script>
import ErrorMessage from './ErrorMessage'

export default {
    components: {
        ErrorMessage,
    },
    props: [
        'id',
        'placeholder',
        'label',
        'value',
        'type',
        'dir',
        'labelColor',
        'rows'
    ],
    data: function () {
        return {
            inputClass:
                'form-input block w-full py-3 px-4 placeholder-gray-500 transition ease-in-out duration-150',
            labelClass: 'block text-sm leading-5 mb-0.5',
        }
    },
    computed: {
        _labelClass: function () {
            return this.labelClass + ' ' + (this.labelColor || 'text-gray-500')
        },
    },
}
</script>
