.nav_logo {
  padding-top: 0px;
  text-align: center;
  margin-bottom: 20px;
}

.nav_logo img {
  width: 150px;
  margin: auto;
  margin-bottom: 20px;
}

.nav_logo span {
  display: block;
}

.prs-10 {
  padding: 0 10px;
}

.item_fei {
  margin-bottom: 20px;
  background: #F6F6F6;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 10px;
  border-radius: 4px;
  position: relative;
}

.item_fei.active::after {
  content: " ";
  width: 20px;
  height: 20px;
  background-image: url(../../img/active.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 10px;
}

.item_fei > span {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item_fei > span img {
  width: 22px;
  height: 22px;
}

.name_t {
  margin-bottom: 10px;
}

.name_t h6 {
  font-size: 14px;
}

.item-2 {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.item-2 div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer {
  border-bottom: 4px solid #0565FF;
  padding-bottom: 10px;
}

footer h6 {
  text-align: center;
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */