<template>
    <div class="max-w-lg mx-auto lg:max-w-none">
        <transition
            enter-active-class="transition duration-500 ease-out transform"
            enter-class="scale-90 opacity-0"
            enter-to-class="scale-100 opacity-100"
            leave-active-class="transition duration-100 ease-in transform"
            leave-class="scale-100 opacity-100"
            leave-to-class="scale-90 opacity-0"
        >
            <div class="p-4 mb-4 rounded-md bg-green-50" v-if="isSent">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <svg
                            class="w-5 h-5 text-green-400"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </div>
                    <div class="ltr:ml-3 rtl:mr-3">
                        <p class="text-sm font-medium leading-5 text-green-800">
                            {{ $t('sent_successfully') }}
                        </p>
                    </div>
                    <div class="ltr:ml-auto rtl:mr-auto ltr:pl-3 rtl:pr-3">
                        <div class="-mx-1.5 -my-1.5">
                            <button
                                @click.prevent="isSent = false"
                                class="inline-flex rounded-md p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:bg-green-100 transition ease-in-out duration-150"
                                aria-label="Dismiss"
                            >
                                <svg
                                    class="w-5 h-5"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                        clip-rule="evenodd"
                                    />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>

        <transition
            enter-active-class="transition duration-500 ease-out transform"
            enter-class="scale-90 opacity-0"
            enter-to-class="scale-100 opacity-100"
            leave-active-class="transition duration-100 ease-in transform"
            leave-class="scale-100 opacity-100"
            leave-to-class="scale-90 opacity-0"
        >
            <div class="p-4 mb-4 rounded-md bg-red-50" v-if="isError">
                <div class="flex">
                    <div class="flex-shrink-0">
                        <svg
                            class="w-5 h-5 text-red-400"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                        >
                            <path
                                fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                                clip-rule="evenodd"
                            />
                        </svg>
                    </div>
                    <div class="ltr:ml-3 rtl:mr-3">
                        <p class="text-sm font-medium leading-5 text-red-800">
                            {{ $t('error_occurred') }}
                        </p>
                    </div>
                    <div class="ltr:ml-auto rtl:mr-auto ltr:pl-3 rtl:pr-3">
                        <div class="-mx-1.5 -my-1.5">
                            <button
                                @click.prevent="isError = false"
                                class="inline-flex rounded-md p-1.5 text-red-500 hover:bg-red-100 focus:outline-none focus:bg-red-100 transition ease-in-out duration-150"
                                aria-label="Dismiss"
                            >
                                <svg
                                    class="w-5 h-5"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                        clip-rule="evenodd"
                                    />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>

        <ValidationObserver class="space-y-3" tag="div" ref="form">
            <template v-if="!isAuth">
                <v-input v-model="form.name" id="name" :label="$t('name')" />

                <v-input v-model="form.email" id="email" :label="$t('email')" />

                <div class="flex ltr:flex-row rtl:flex-row-reverse">
                    <div class="flex-auto flex-shrink-0 pr-2">
                        <label :class="labelClass">{{
                            $t('country_code')
                        }}</label>
                        <v-select
                            v-model="form.phone_country_iso2"
                            dir="ltr"
                            label="code"
                            id="country_code"
                            :options="countryCodes"
                            :reduce="(country) => country.id"
                        >
                            <template slot="option" slot-scope="option">
                                <div class="flex">
                                    <div class="ltr:pr-2 rtl:pl-2">
                                        {{ option.flag }}
                                    </div>
                                    <div>{{ option.code }}</div>
                                </div>
                            </template>
                        </v-select>
                    </div>

                    <v-input
                        labelColor="text-white md:text-gray-500"
                        class="flex-auto"
                        v-model="form.phone_number"
                        id="phone_number"
                        :label="$t('phone_number')"
                    />
                </div>
            </template>

            <div>
                <label :class="labelClass">{{ $t('reason') }}</label>
                <v-select
                    :dir="isRtl ? 'rtl' : 'ltr'"
                    label="name"
                    :options="reasons"
                    v-model="form.reason_id"
                    :reduce="(country) => country.id"
                ></v-select>
            </div>

            <v-input
                v-model="form.subject"
                id="subject"
                :label="$t('subject')"
            />

            <v-textarea
                rows="4"
                v-model="form.message"
                id="message"
                :label="$t('message')"
            />

            <div>
                <span class="inline-flex rounded-md shadow-sm">
                    <button
                        :disabled="isSending"
                        @click.prevent="onRegister"
                        class="h-10 px-4 py-2 text-base font-medium transition duration-150 ease-in-out rounded-md text-secondary-inv-500 bg-secondary-500 disabled:cursor-not-allowed disabled:bg-gray-300 hover:bg-secondary-400 hover:shadow-outline-primary focus:outline-none"
                    >
                        <div v-if="!isSending">{{ $t('send') }}</div>
                        <scale-loader
                            color="white"
                            height="20px"
                            width="4px"
                            v-else
                        />
                    </button>
                </span>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>
import '../../../css/vue-select.css';
const formValues = {
    name: '',
    email: '',
    phone_country_iso2: 'SA',
    phone_number: '',
    subject: '',
    message: '',
    reason_id: '',
};

export default {
    props: ['isAuth', 'countryCodes', 'reasons'],
    data: function () {
        return {
            form: { ...formValues },
            isSending: false,
            isSent: false,
            isError: false,
            labelClass:
                'block text-sm leading-5 text-white md:text-gray-500 mb-0.5',
        };
    },
    computed: {
        isRtl: () => {
            return document.documentElement.dir === 'rtl';
        },
    },
    methods: {
        onRegister: function () {
            this.isSending = true;
            this.isSent = false;
            this.isError = false;
            axios
                .post('/contact-us', this.form)
                .then(() => {
                    this.isSent = true;
                    Object.assign(this.form, formValues);
                })
                .catch((error) => {
                    if (error.response && error.response.status === 422) {
                        this.$refs.form.setErrors(error.response.data.errors);
                    } else {
                        this.isError = true;
                    }
                })
                .finally(() => {
                    this.isSending = false;
                });
        },
    },
};
</script>

<i18n>
    {
        "en" : {
            "name": "Name",
            "email": "Email address",
            "country_code": "Country code",
            "phone_number": "Phone number",
            "reason": "Reason",
            "subject": "Subject",
            "message": "Message",
            "send": "Send",
            "sent_successfully": "Your enquiry has been sent",
            "error_occurred": "Something went wrong. Please try again."
        },
        "ar": {
            "name": "الاسم",
            "email": "البريد الإلكتروني",
            "country_code": "رمز الدولة",
            "phone_number": "رقم الهاتف/الجوال",
            "reason": "سبب التواصل",
            "subject": "الموضوع",
            "message": "الرسالة",
            "send": "إرسال",
            "sent_successfully": "تم إرسال رسالتك بنجاح.",
            "error_occurred": "حدث خطأ. نرجو المحاولة مرة أخرى."
        }
    }
</i18n>
