<template>
    <ValidationProvider tag="div" class="w-full" :vid="id" v-slot="v">
        <div>
            <label :for="id" :class="_labelClass">{{ label }}</label>
            <div class="rounded-md shadow-sm">
                <input
                    :dir="dir"
                    :value="value"
                    @input="$emit('input', $event.target.value)"
                    :id="id"
                    :placeholder="placeholder || label"
                    :class="inputClass"
                    :type="type || 'text'"
                />
            </div>
            <ErrorMessage>{{ v.errors[0] }}</ErrorMessage>
        </div>
    </ValidationProvider>
</template>

<script>
import ErrorMessage from './ErrorMessage'

export default {
    components: {
        ErrorMessage,
    },
    props: [
        'id',
        'countries',
        'countryCodes',
        'placeholder',
        'label',
        'value',
        'type',
        'dir',
        'labelColor',
    ],
    data: function () {
        return {
            inputClass:
                'form-input px-4 py-2 border-gray-300 rounded block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5',
            labelClass: 'block text-sm leading-5 mb-0.5',
        }
    },
    computed: {
        _labelClass: function () {
            return this.labelClass + ' ' + (this.labelColor || 'text-gray-500')
        },
    },
}
</script>
