<template>
    <layout />
</template>

<script>
import Layout from './layouts/Layout';

export default {
    components: {
        Layout
    }
};
</script>

<i18n>
{
    "en": {

    },
    "ar": {

    }
}
</i18n>