<template>
    <resource-cu
        api-create="/property-types"
        :api-update="(params, createPath) => `${createPath}/${params.id}`"
        :heading="$t('title')"
        :resource-name="r => r.name"
    >
        <form class="space-y-4">
            <c-input :label="$t('name_en')" v-model="form.name_en" :placeholder="$t('name_en_ph')" />

            <c-input :label="$t('name_ar')" v-model="form.name_ar" :placeholder="$t('name_ar_ph')" />

            <c-input :label="$t('isActive')" v-model="form.name_ar" :placeholder="$t('name_ar_ph')" />
        </form>
    </resource-cu>
</template>

<script>
export default {
    data: function () {
        return {
            form: {
                name_en: '',
                name_ar: '',
                is_active: '',
            },
        };
    },
};
</script>

<i18n>
{
    "en": {
        "title": "Property Type",
        "name_en": "Name (En)",
        "name_en_ph": "Villa",
        "name_ar": "Name (Ar)",
        "name_ar_ph": "فيلا",
        "Active": "Active"
    },
    "ar": {
        
    }
}
</i18n>