<template>
    <div>
        <resource-page 
            url="/property-types" 
            create-path="/property-types/create"
            :cols="cols" 
            :title="$t('title')" 
        />
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            cols: [
                {
                    id: 'id',
                    name: this.$t('id'),
                    width: '5%'
                },
                {
                    id: 'name',
                    name: this.$t('name'),
                },
                {
                    id: 'isActive',
                    name: this.$t('status'),
                },
            ]
        }
    }
};
</script>

<i18n>
{
    "en": {
        "id": "ID",
        "name": "Name",
        "status": "Status",
        "title": "Property Types"
    },
    "ar": {
        
    }
}
</i18n>